.container {
    margin-top: 2rem;
}

.container input[name="city"],
.container input[name="country"] {
    background-color: transparent;
    color: white;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-radius: 0;
}

.container input:focus{
    background-color: whitesmoke;
}


.btn {
    margin-top: 20px;
}