.App {
  text-align: center;
}

body {
  background-image: url('./assets/daniel-ramirez\ by\ unsplash.com.jpg');
  /* Photo by <a href="https://unsplash.com/@danramirez1998?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniel Ramírez</a> on <a href="https://unsplash.com/s/photos/weather?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
  background-size: cover;
  background-repeat: no-repeat;
}

.cards {
  color: white;
}

.mainTitle {
  margin-top: 20px;
}

.mainTitle h1{
  color: rgb(240, 235, 172);
}

footer {
  margin-top: 450px;
}




